<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net452" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net452" />
  <package id="ExtentReports" version="4.0.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.7.2" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.7.2" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.7.2" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="2.1.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net452" />
  <package id="NLog" version="4.7.0" targetFramework="net452" />
  <package id="NLog.Config" version="4.7.0" targetFramework="net452" />
  <package id="NLog.Extensions.Logging" version="1.6.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.7.0" targetFramework="net452" />
  <package id="RazorEngine" version="3.10.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="80.0.3987.10600" targetFramework="net452" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net452" />
</packages>